node_modules
/build
/.cache
/public/build
.env
.env.*
!.env.example
.DS_Store
*.log
npm-debug.log*
yarn-error.log*

# React Router generated types
/.react-router

# Prisma
/prisma/dev.sqlite
/prisma/*.db

# Shopify CLI
.shopify
dist
.turbo
extensions/*/dist

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Shopify CLI config written by `shopify app deploy --config production` runs (public client_id only)
shopify.app.production.toml
